html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: orange;
}

h1 {
  /* border: 1px solid green; */
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

/* .wrapper {
  border: 1px solid red;
} */

.container {
  border: 1px solid white;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 70vh;
  padding: 20px;
}

.content {
  /* border: 1px solid blue; */
  order: 2;
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
}

.card {
  width: 150px;
  height: max-content;
  /* border: 1px solid; */
  border-radius: 8px;
  background-color: #ffff0038;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__container {
  padding: 0 25px;
}

.card__name,
.card__add {
  text-align: center;
}

.sidebar {
  /* border: 1px solid purple; */
  order: 1;
  height: 225px;
  border-radius: 8px;
  background-color: #ff00001a;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0 20px;
  overflow: auto;
}

.footer {
  /* border: 1px solid blue; */
  padding: 10px 0;
  text-align: center;
}